div.input-group select.form-control {
	height: 32px !important;
}

.copy-wrap {
    position: relative
}

.copy {
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
    height: 25px !important;
    width: 25px !important
}
.copy img {
    height: 25px;
    width: 25px
}

