body {
    padding-top: 40px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px; color: #99979c;
    background-color: #2a2730;
    min-height: 80px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    margin: 0px;
}
#filter-row {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center
}
#navbar {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end

}

.fixed-right-side
{
    position:fixed;
    right:20px;
    top:0px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.popup_form {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 8;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_content {
    /* display: none; */
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    background-color: #ffffff;
}
.popup_close {
    position: absolute;
    top: -6.2rem;
    right: -32rem;
    font-size: 4rem;
    color: #ffffff;
    border: none;
    background: transparent;
}


@media (max-width: 530px) {
    .form {
        margin-top: 2rem;
        padding: 1.5rem 2rem;
        padding-bottom: 3rem;
    }

    .form h2 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .form h2 span {
        font-size: 2rem;
    }

    .form_input {
        padding: 2rem 3rem;
        margin-bottom: 2rem;
    }

    .form_input::-webkit-input-placeholder {
        color: #999;
        opacity: 1;
        font-size: 1.3rem;
    }

    .form_input::-moz-placeholder {
        color: #999;
        opacity: 1;
        font-size: 1.3rem;
    }

    .form_input:-moz-placeholder {
        color: #999;
        opacity: 1;
        font-size: 1.3rem;
    }

    .form_input:-ms-input-placeholder {
        color: #999;
        opacity: 1;
        font-size: 1.3rem;
    }

    .form_input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    .form_input:focus::-moz-placeholder {
        color: transparent;
    }

    .form_input:focus:-moz-placeholder {
        color: transparent;
    }

    .form_input:focus:-ms-input-placeholder {
        color: transparent;
    }

    .form_notice {
        font-size: 1rem;
    }

    .button {
        padding: 1.7rem 0rem;
        font-size: 1.5rem;
    }

    .section_header {
        text-align: center;
        margin-bottom: 4rem;
    }

    .section_header h2 {
        font-size: 2rem;
    }

    .section_header_sub {
        margin-top: 1rem;
    }

    .header .working_hours p {
        font-size: 1.2rem;
    }

    .header .working_hours p span {
        font-size: 1.4rem;
    }

    .header .contact_us_wrap a {
        font-size: 1.2rem;
    }

    .header .contact_us_wrap a img {
        margin-right: 0.5rem;
        /*width: 10%;*/
    }

    .header .contact_us_wrap .phone_link {
        font-size: 1.2rem;
    }

    .main {
        padding: 3rem 0;
        padding-bottom: 5rem;
        background: #ffffff url(../img/main/bg.png) 0 0 no-repeat;
        background-size: cover;
    }

    .main h1 {
        font-size: 3rem;
        line-height: 1.5;
    }

    .main h1 span {
        font-size: 1.5rem;
    }

    .main_features {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .main_features_block {
        margin-bottom: 4rem;
    }

    .glazing {
        padding: 3rem 0;
    }

    .glazing_cold {
        margin-top: 2rem;
    }

    .glazing_warm {
        margin-top: 4rem;
    }

    .glazing_price {
        padding: 0 1rem;
    }

    .glazing_price p {
        display: block;
        margin-right: 0rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        line-height: 1.2;
    }

    .glazing_price p span {
        font-size: 1.4rem;
    }

    .glazing_price_btn {
        font-size: 1.4rem;
        padding: 2rem 2rem;
    }

    .glazing ul {
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    .glazing ul li:before {
        margin-right: 1rem;
    }

    .decoration {
        padding: 3rem 0;
    }

    .decoration_item a {
        font-size: 1.5rem;
    }

    .guarantees h3 {
        margin-top: 2rem;
        margin-bottom: 4rem;
        font-size: 1.2rem;
    }

    .payment {
        padding-top: 3rem;
        padding-bottom: 0;
    }

    .payment_item h3 {
        margin-top: 1rem;
        margin-bottom: 4rem;
        font-size: 1.5rem;
    }

    .payment_img {
        min-height: auto;
    }

    .sale {
        padding: 3rem 0 5rem;
    }

    .sale_title {
        font-size: 3rem;
    }

    .sale_subtitle {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .sale .eTimer {
        font-size: 1rem;
    }

    .contacts {
        padding: 3rem 0;
    }

    .feedback {
        padding: 3rem 0 4rem;
    }

    .feedback_block h3 {
        font-size: 2rem;
    }

    .feedback_block a {
        font-size: 1.5rem;
    }

    .popup_content,
    .popup_engineer_content,
    .popup_calc_end_content {
        width: 31rem;
    }

    .popup_close,
    .popup_engineer_close,
    .popup_calc_end_close {
        position: absolute;
        top: -1rem;
        right: 1rem;
        font-size: 4rem;
        color: #000000;
        border: none;
        background: transparent;
    }

    .popup_calc_close {
        position: absolute;
        top: -1rem;
        right: 1rem;
        font-size: 4rem;
        color: #000000;
        border: none;
        background: transparent;
    }

    .popup_calc_content {
        width: 42rem;
    }

    .popup_calc_content h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .popup_calc_content h3 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    .popup_calc_content .balcon_icons {
        margin-bottom: 1rem;
    }

    .popup_calc_content .balcon_icons img {
        width: 20%;
    }

    .popup_calc_content .big_img img {
        margin-bottom: 2rem;
        width: 25rem;
    }

    .popup_calc_content #type1 {
        display: inline-block;
    }

    .popup_calc_button {
        padding: 1rem 5rem;
    }

    .popup_calc_profile_content {
        width: 31rem;
        padding: 1rem 1rem 4rem;
    }

    .popup_calc_profile_content h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .popup_calc_profile_content h3 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    .popup_calc_profile_content select {
        margin-bottom: 1rem;
        outline: none;
    }

    .popup_calc_profile_content img {
        width: 20%;
    }

    .popup_calc_profile_close {
        position: absolute;
        top: -1rem;
        right: 1rem;
        font-size: 4rem;
        color: #000000;
        border: none;
        background: transparent;
    }

    .popup_calc_profile_button {
        padding: 1rem 5rem;
    }
}

.form {
    /*margin-top: 2rem;*/
    padding: 2rem 5rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
}

.form h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    line-height: 1.5;
}

.form h2 span {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.form_input {
    height: 5.8rem;
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 1rem;
    -moz-box-sizing: border-box;
}

.form_input::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input::-moz-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input:-moz-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input:-ms-input-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form_input:focus::-moz-placeholder {
    color: transparent;
}

.form_input:focus:-moz-placeholder {
    color: transparent;
}

.form_input:focus:-ms-input-placeholder {
    color: transparent;
}

.form_notice {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #666;
}



